* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
}

.logo {
    height: 50%;
}

header {
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.header_container {
    height: 100%;
    width: 100%;
    max-width: 1159px;

}

header .header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    margin-right: 35px;
    font-size: 15px;
    font-weight: 600;

}

header a {
    text-decoration: none;
    color: white;
}

.section1 {
    height: 27rem;
    background-color: #ffccd4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 23.9rem;
    padding-right: 25rem;
}

.section1_left {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    margin-top: 75px;
    font-size: 37.5px;
    font-weight: 800;
}

h2 {
    margin-top: 35px;
    font-size: 23.7px;
    font-weight: 300;

}

p {
    margin-top: 52px;
    font-size: 9.9px;
}

.buttons1 {
    margin-top: 50px;
}

.mainlink {
    border: 1px solid black;
    text-decoration: none;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 2rem;
    border-radius: 3rem;
    font-size: 14px;
    font-weight: 500;
}

.bgblack {
    background-color: black;
    color: white;

}

.bgtrans {
    color: black;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 27rem;
    background-color: rgb(241, 241, 241)
}

.section2 h1 {
    padding-top: 3rem;
}

.section2 h2 {
    margin-top: 2rem;
}

.section2 p {
    display: flex;
}

.store_buttons {
    margin-top: 2rem;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 34rem;
}

.section3 h1 {
    margin-bottom: 70px;
}

.iconnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.expansion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 45px;
}

.section3 h2 {
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 20px;
}

.section3 h3 {
    font-size: 15px;
    font-weight: 300;
}

.section4 {
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
}

footer {
    background-color: black;
    height: 34.7rem;
}

footer .logo {
    height: 40px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    padding-top: 1.5rem;
}

.footer_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;
}

.columnflex {
    display: flex;
    flex-direction: column;
    padding-right: 7rem;
}

.greyfont {
    color: rgb(155, 155, 155);
    font-size: 13px;
    font-weight: 700;
}

footer img {
    padding-right: 3rem;
}

.lastline {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.loc {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 22rem;
    padding-bottom: 2rem;
}
.sec42{
    display: flex;
    flex-direction:row;
    align-items: center;

}
