* {
    margin: 0%;
}

header {
    display: flex;
    flex-flow: row wrap;
    background-color: #ffc872;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin: 0px 10px;
}

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    color: blue;
    }

h2 {
    margin-bottom: 10px;
    font-size: 25px; 
    color: #661c80
     }

h3 {
    margin-bottom: 5px;
    font-size: 20px;
        color: #863ca0
    }

p {
    margin-bottom: 15px;
    font-size: 15px;
    color: #ba90c9;
}

body {
    background-color: #ffe3b3;
}